{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'amazonseller/style.css' %}">
</head>

<body>
    <h1>Amazon Seller</h1>
    <p>Amazon Seller is a Django app to manage your Amazon Seller account.</p>
    <p>It is currently under development.</p>
    <p>For more information, see the



    <div id="CardInstancesLD7sFXdjgBT4uGyB3Qyiw" data-card-metrics-id="p13n-zg-list-grid-desktop_zeitgeist-lists_2"
        data-acp-tracking="{}" data-mix-claimed="true" class="ive-aw-has-video">
        <div class="_cDEzb_card-title_2sYgw">
            <h1 class="a-size-large a-spacing-medium a-text-bold">Best Sellers in Video Games</h1>
        </div>
        <div class="a-cardui _cDEzb_card_1L-Yx" data-a-card-type="basic">
            <div class="p13n-desktop-grid"
                data-client-recs-list="[{&quot;id&quot;:&quot;B00F4CEHNK&quot;,&quot;metadata
                data-index-offset="30" data-reftag="zg_bs_g_videogames" data-offset="50"
                data-faceoutkataname="GeneralFaceout">
                <div class="p13n-gridRow _cDEzb_grid-row_3Cywl -athena-76-red">
                    <div id="gridItemRoot" class="a-column a-span12 a-text-center _cDEzb_grid-column_2hIsc">
                        <div id="p13n-asin-index-0"
                            class="a-cardui _cDEzb_grid-cell_1uMOS expandableGrid p13n-grid-content"
                            data-a-card-type="basic">
                            <div data-asin="B00F4CEHNK" class="_cDEzb_iveVideoWrapper_JJ34T has-ive-video">
                                <div class="a-section zg-bdg-ctr">
                                    <div class="a-section zg-bdg-body zg-bdg-clr-body aok-float-left"><span
                                            class="zg-bdg-text">#1</span></div>
                                    <div class="a-section zg-bdg-tri zg-bdg-clr-tri aok-float-left"></div>
                                </div>
                                <div class="zg-grid-general-faceout">
                                    <div id="B00F4CEHNK" class="p13n-sc-uncoverable-faceout"><a class="a-link-normal"
                                            tabindex="-1"
                                            href="/Xbox-Gift-Card-Digital-Code/dp/B00F4CEHNK/ref=zg_bs_g_videogames_sccl_1/142-2352372-7951437?psc=1"
                                            role="link">
                                            <div class="a-section a-spacing-mini _cDEzb_noop_3Xbw5"><img
                                                    alt="$10 Xbox Gift Card [Digital Code]"
                                                    src="https://images-na.ssl-images-amazon.com/images/I/61m6wDi1SYL._AC_UL600_SR600,400_.jpg"
                                                    class="a-dynamic-image p13n-sc-dynamic-image p13n-product-image"
                                                    height="200px"
                                                    data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/61m6wDi1SYL._AC_UL300_SR300,200_.jpg&quot;:[300,200],&quot;https://images-na.ssl-images-amazon.com/images/I/61m6wDi1SYL._AC_UL600_SR600,400_.jpg&quot;:[600,400],&quot;https://images-na.ssl-images-amazon.com/images/I/61m6wDi1SYL._AC_UL900_SR900,600_.jpg&quot;:[900,600]}"
                                                    style="max-width:300px;max-height:200px"></div>
                                        </a><a class="a-link-normal"
                                            href="/Xbox-Gift-Card-Digital-Code/dp/B00F4CEHNK/ref=zg_bs_g_videogames_sccl_1/142-2352372-7951437?psc=1"
                                            role="link"><span>
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">$10 Xbox Gift Card
                                                    [Digital Code]</div>
                                            </span></a>
                                        <div class="a-row a-size-small"><span class="a-size-small a-color-base">
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">Xbox</div>
                                            </span></div>
                                        <div class="a-row">
                                            <div class="a-icon-row"><a class="a-link-normal" title="4.6 out of 5 stars"
                                                    href="/product-reviews/B00F4CEHNK/ref=zg_bs_g_videogames_cr_sccl_1/142-2352372-7951437"><i
                                                        class="a-icon a-icon-star-small a-star-small-4-5 aok-align-top"><span
                                                            class="a-icon-alt">4.6 out of 5 stars</span></i> <span
                                                        class="a-size-small">178,446</span></a></div>
                                        </div>
                                        <div class="a-row a-size-small"><span class="a-size-small a-color-secondary">
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">Xbox One, Windows,
                                                    Xbox Series S, Xbox Series X</div>
                                            </span></div>
                                        <div class="a-row">
                                            <div class="a-row">
                                                <div class="_cDEzb_p13n-sc-price-animation-wrapper_3PzN2"><a
                                                        class="a-link-normal a-text-normal"
                                                        href="/Xbox-Gift-Card-Digital-Code/dp/B00F4CEHNK/ref=zg_bs_g_videogames_sccl_1/142-2352372-7951437?psc=1"
                                                        role="link">
                                                        <div class="a-row"><span class="a-size-base a-color-price"><span
                                                                    class="_cDEzb_p13n-sc-price_3mJ9Z">$10.00</span></span>
                                                        </div>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="watch-button-placeholder"><button class="ive-aw-watch-button"
                                        style="opacity: 1; display: flex; max-width: 40px;">
                                        <div class="a-section ive-aw-watch-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="42" height="42"
                                                viewBox="0 0 42 42" class="">
                                                <defs>
                                                    <filter x="-26.6%" y="-20.3%" width="153.1%" height="153.1%"
                                                        filterUnits="objectBoundingBox" id="3q7uwdqtxa">
                                                        <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1">
                                                        </feOffset>
                                                        <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1"
                                                            result="shadowBlurOuter1"></feGaussianBlur>
                                                        <feComposite in="shadowBlurOuter1" in2="SourceAlpha"
                                                            operator="out" result="shadowBlurOuter1"></feComposite>
                                                        <feColorMatrix
                                                            values="0 0 0 0 0.835294118 0 0 0 0 0.850980392 0 0 0 0 0.850980392 0 0 0 0.5 0"
                                                            in="shadowBlurOuter1"></feColorMatrix>
                                                    </filter>
                                                    <circle id="qivc9ruibb" cx="16" cy="16" r="16"></circle>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g transform="translate(5 3)" class="ive-aw-watch-button-circle">
                                                        <use fill="#000" filter="url(#3q7uwdqtxa)"
                                                            xlink:href="#qivc9ruibb"></use>
                                                        <circle stroke="#E3E6E6" stroke-linejoin="square" fill="#FFF"
                                                            cx="16" cy="16" r="15.5"></circle>
                                                    </g>
                                                    <path
                                                        d="m27.774 18.495-10.4-6.016a.8.8 0 0 0-1.2.688v12.048a.8.8 0 0 0 1.2.688l10.4-6.016a.8.8 0 0 0 0-1.392z"
                                                        fill="#0F1111" fill-rule="nonzero"></path>
                                                </g>
                                            </svg></div><span aria-label="Watch" class="ive-aw-watch-button-label">
                                            Watch </span>
                                    </button></div>
                            </div>
                        </div>
                    </div>
                    <div id="gridItemRoot" class="a-column a-span12 a-text-center _cDEzb_grid-column_2hIsc">
                        <div id="p13n-asin-index-1"
                            class="a-cardui _cDEzb_grid-cell_1uMOS expandableGrid p13n-grid-content"
                            data-a-card-type="basic">
                            <div data-asin="B004RMK4P8" class="_cDEzb_iveVideoWrapper_JJ34T has-ive-video">
                                <div class="a-section zg-bdg-ctr">
                                    <div class="a-section zg-bdg-body zg-bdg-clr-body aok-float-left"><span
                                            class="zg-bdg-text">#2</span></div>
                                    <div class="a-section zg-bdg-tri zg-bdg-clr-tri aok-float-left"></div>
                                </div>
                                <div class="zg-grid-general-faceout">
                                    <div id="B004RMK4P8" class="p13n-sc-uncoverable-faceout"><a class="a-link-normal"
                                            tabindex="-1"
                                            href="/PlayStation-Store-Gift-Card-Digital/dp/B004RMK4P8/ref=zg_bs_g_videogames_sccl_2/142-2352372-7951437?psc=1"
                                            role="link">
                                            <div class="a-section a-spacing-mini _cDEzb_noop_3Xbw5"><img
                                                    alt="$50 PlayStation Store Gift Card [Digital Code]"
                                                    src="https://images-na.ssl-images-amazon.com/images/I/51w6X7U3QnL._AC_UL600_SR600,400_.jpg"
                                                    class="a-dynamic-image p13n-sc-dynamic-image p13n-product-image"
                                                    height="200px"
                                                    data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/51w6X7U3QnL._AC_UL300_SR300,200_.jpg&quot;:[300,200],&quot;https://images-na.ssl-images-amazon.com/images/I/51w6X7U3QnL._AC_UL600_SR600,400_.jpg&quot;:[600,400],&quot;https://images-na.ssl-images-amazon.com/images/I/51w6X7U3QnL._AC_UL900_SR900,600_.jpg&quot;:[900,600]}"
                                                    style="max-width:300px;max-height:200px"></div>
                                        </a><a class="a-link-normal"
                                            href="/PlayStation-Store-Gift-Card-Digital/dp/B004RMK4P8/ref=zg_bs_g_videogames_sccl_2/142-2352372-7951437?psc=1"
                                            role="link"><span>
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">$50 PlayStation Store
                                                    Gift Card [Digital Code]</div>
                                            </span></a>
                                        <div class="a-row a-size-small"><span class="a-size-small a-color-base">
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">PlayStation</div>
                                            </span></div>
                                        <div class="a-row">
                                            <div class="a-icon-row"><a class="a-link-normal" title="4.6 out of 5 stars"
                                                    href="/product-reviews/B004RMK4P8/ref=zg_bs_g_videogames_cr_sccl_2/142-2352372-7951437"><i
                                                        class="a-icon a-icon-star-small a-star-small-4-5 aok-align-top"><span
                                                            class="a-icon-alt">4.6 out of 5 stars</span></i> <span
                                                        class="a-size-small">75,706</span></a></div>
                                        </div>
                                        <div class="a-row a-size-small"><span class="a-size-small a-color-secondary">
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">PlayStation 4</div>
                                            </span></div>
                                        <div class="a-row">
                                            <div class="a-row">
                                                <div class="_cDEzb_p13n-sc-price-animation-wrapper_3PzN2"><a
                                                        class="a-link-normal a-text-normal"
                                                        href="/PlayStation-Store-Gift-Card-Digital/dp/B004RMK4P8/ref=zg_bs_g_videogames_sccl_2/142-2352372-7951437?psc=1"
                                                        role="link">
                                                        <div class="a-row"><span class="a-size-base a-color-price"><span
                                                                    class="_cDEzb_p13n-sc-price_3mJ9Z">$50.00</span></span>
                                                        </div>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="watch-button-placeholder"><button class="ive-aw-watch-button"
                                        style="opacity: 1; display: flex; max-width: 40px;">
                                        <div class="a-section ive-aw-watch-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="42" height="42"
                                                viewBox="0 0 42 42">
                                                <defs>
                                                    <filter x="-26.6%" y="-20.3%" width="153.1%" height="153.1%"
                                                        filterUnits="objectBoundingBox" id="3q7uwdqtxa">
                                                        <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1">
                                                        </feOffset>
                                                        <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1"
                                                            result="shadowBlurOuter1"></feGaussianBlur>
                                                        <feComposite in="shadowBlurOuter1" in2="SourceAlpha"
                                                            operator="out" result="shadowBlurOuter1"></feComposite>
                                                        <feColorMatrix
                                                            values="0 0 0 0 0.835294118 0 0 0 0 0.850980392 0 0 0 0 0.850980392 0 0 0 0.5 0"
                                                            in="shadowBlurOuter1"></feColorMatrix>
                                                    </filter>
                                                    <circle id="qivc9ruibb" cx="16" cy="16" r="16"></circle>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g transform="translate(5 3)" class="ive-aw-watch-button-circle">
                                                        <use fill="#000" filter="url(#3q7uwdqtxa)"
                                                            xlink:href="#qivc9ruibb"></use>
                                                        <circle stroke="#E3E6E6" stroke-linejoin="square" fill="#FFF"
                                                            cx="16" cy="16" r="15.5"></circle>
                                                    </g>
                                                    <path
                                                        d="m27.774 18.495-10.4-6.016a.8.8 0 0 0-1.2.688v12.048a.8.8 0 0 0 1.2.688l10.4-6.016a.8.8 0 0 0 0-1.392z"
                                                        fill="#0F1111" fill-rule="nonzero"></path>
                                                </g>
                                            </svg></div><span aria-label="Watch" class="ive-aw-watch-button-label">
                                            Watch </span>
                                    </button></div>
                            </div>
                        </div>
                    </div>
                    <div class="zg-more-list-types-container" style="width: 332px;">
                        <div class="zg-mlt-list-type" style="width: 100%;"><a
                                href="/gp/new-releases/videogames/ref=zg_bs_tab_t_videogames_bsnr">
                                <div class="_cDEzb_mlt-list-type-row_2gLgq">
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="Super Mario Bros.™ Wonder - Nintendo Switch (US Version)"
                                            src="https://m.media-amazon.com/images/I/414hiW+FY9L.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="PlayStation 5 Console - &nbsp;Marvel’s Spider-Man 2 Bundle (slim)"
                                            src="https://m.media-amazon.com/images/I/31lJymmW2+L.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="FORTNITE Digital V-Bucks 1000 -PlayStation/Xbox/Nintendo Switch/PC/Mobile [Digital Code]"
                                            src="https://m.media-amazon.com/images/I/416-nu8BI0L.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                </div>
                                <div class="_cDEzb_mlt-list-type-row_2gLgq"><span class="a-size-medium a-color-base">New
                                        Releases</span><br><span class="a-size-small a-color-tertiary">in Video
                                        Games</span></div>
                            </a></div>
                        <div class="zg-mlt-list-type aok-hidden" style="width: 50%;"><a
                                href="/gp/bestsellers/2023/videogames/ref=zg_bs_tab_t_videogames_bsar/ref=zg_bs_tab_t_videogames_bsar">
                                <div class="_cDEzb_mlt-list-type-row_2gLgq">
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="$10 Xbox Gift Card [Digital Code]"
                                            src="https://m.media-amazon.com/images/I/41T6htXy55L.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="$100 PlayStation Store Gift Card [Digital Code]"
                                            src="https://m.media-amazon.com/images/I/41O+bDxzGKL.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="$10 -PlayStation Store Gift Card [Digital Code]"
                                            src="https://m.media-amazon.com/images/I/41MT2s0Gm2L.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                </div>
                                <div class="_cDEzb_mlt-list-type-row_2gLgq"><span
                                        class="a-size-medium a-color-base">Best Sellers of 2023</span><br><span
                                        class="a-size-small a-color-tertiary">in Video Games</span></div>
                            </a></div>
                        <div class="zg-mlt-list-type aok-hidden" style="width: 33.33%;"><a
                                href="/gp/movers-and-shakers/videogames/ref=zg_bs_tab_t_videogames_bsms">
                                <div class="_cDEzb_mlt-list-type-row_2gLgq">
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="Assassin's Creed: The Rebel Collection - Nintendo Switch"
                                            src="https://m.media-amazon.com/images/I/51PeA15xxHL.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="KontrolFreek FPS Freek Galaxy Purple for PlayStation 4 (PS4) and PlayStation 5 (PS5) | Performance Thumbsticks | 1 High-Rise,"
                                            src="https://m.media-amazon.com/images/I/51WkRXFf4AL.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="Xbox Core Wireless Gaming Controller – Deep Pink – Xbox Series X|S, Xbox One, Windows PC, Android, and iOS"
                                            src="https://m.media-amazon.com/images/I/41woQOF3XkL.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                </div>
                                <div class="_cDEzb_mlt-list-type-row_2gLgq"><span
                                        class="a-size-medium a-color-base">Movers &amp; Shakers</span><br><span
                                        class="a-size-small a-color-tertiary">in Video Games</span></div>
                            </a></div>
                        <div class="zg-mlt-list-type aok-hidden"><a
                                href="/gp/most-wished-for/videogames/ref=zg_bs_tab_t_videogames_mw">
                                <div class="_cDEzb_mlt-list-type-row_2gLgq">
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="Super Mario Bros.™ Wonder - Nintendo Switch (US Version)"
                                            src="https://m.media-amazon.com/images/I/414hiW+FY9L.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="Meta Quest 2 — Advanced All-In-One Virtual Reality Headset — 128 GB"
                                            src="https://m.media-amazon.com/images/I/31uagjqD8DL.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="Super Mario RPG - Nintendo Switch (US Version)"
                                            src="https://m.media-amazon.com/images/I/511DpNON3nL.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                </div>
                                <div class="_cDEzb_mlt-list-type-row_2gLgq"><span
                                        class="a-size-medium a-color-base">Most Wished For</span><br><span
                                        class="a-size-small a-color-tertiary">in Video Games</span></div>
                            </a></div>
                        <div class="zg-mlt-list-type aok-hidden"><a
                                href="/gp/most-gifted/videogames/ref=zg_bs_tab_t_videogames_mg">
                                <div class="_cDEzb_mlt-list-type-row_2gLgq">
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="Super Mario Bros.™ Wonder - Nintendo Switch (US Version)"
                                            src="https://m.media-amazon.com/images/I/414hiW+FY9L.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="Super Mario RPG - Nintendo Switch (US Version)"
                                            src="https://m.media-amazon.com/images/I/511DpNON3nL.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                    <div class="_cDEzb_mlt-img-container_ukYI6" style=""><img
                                            alt="The Legend of Zelda: Tears of the Kingdom - Nintendo Switch (US Version)"
                                            src="https://m.media-amazon.com/images/I/41ase5TZkbL.jpg"
                                            class="a-dynamic-image" height="85px" data-a-dynamic-image="{}"
                                            style="max-width:85px;max-height:85px"></div>
                                </div>
                                <div class="_cDEzb_mlt-list-type-row_2gLgq"><span
                                        class="a-size-medium a-color-base">Gift Ideas</span><br><span
                                        class="a-size-small a-color-tertiary">in Video Games</span></div>
                            </a></div>
                    </div>
                    <div id="gridItemRoot" class="a-column a-span12 a-text-center _cDEzb_grid-column_2hIsc">
                        <div id="p13n-asin-index-2"
                            class="a-cardui _cDEzb_grid-cell_1uMOS expandableGrid p13n-grid-content"
                            data-a-card-type="basic">
                            <div data-asin="B00GAC1D2G" class="_cDEzb_iveVideoWrapper_JJ34T">
                                <div class="a-section zg-bdg-ctr">
                                    <div class="a-section zg-bdg-body zg-bdg-clr-body aok-float-left"><span
                                            class="zg-bdg-text">#3</span></div>
                                    <div class="a-section zg-bdg-tri zg-bdg-clr-tri aok-float-left"></div>
                                </div>
                                <div class="zg-grid-general-faceout">
                                    <div id="B00GAC1D2G" class="p13n-sc-uncoverable-faceout"><a class="a-link-normal"
                                            tabindex="-1"
                                            href="/PlayStation-Store-Gift-Card-Digital/dp/B00GAC1D2G/ref=zg_bs_g_videogames_sccl_3/142-2352372-7951437?psc=1"
                                            role="link">
                                            <div class="a-section a-spacing-mini _cDEzb_noop_3Xbw5"><img
                                                    alt="$10 -PlayStation Store Gift Card [Digital Code]"
                                                    src="https://images-na.ssl-images-amazon.com/images/I/51NJ1p45r5L._AC_UL600_SR600,400_.jpg"
                                                    class="a-dynamic-image p13n-sc-dynamic-image p13n-product-image"
                                                    height="200px"
                                                    data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/51NJ1p45r5L._AC_UL300_SR300,200_.jpg&quot;:[300,200],&quot;https://images-na.ssl-images-amazon.com/images/I/51NJ1p45r5L._AC_UL600_SR600,400_.jpg&quot;:[600,400],&quot;https://images-na.ssl-images-amazon.com/images/I/51NJ1p45r5L._AC_UL900_SR900,600_.jpg&quot;:[900,600]}"
                                                    style="max-width:300px;max-height:200px"></div>
                                        </a><a class="a-link-normal"
                                            href="/PlayStation-Store-Gift-Card-Digital/dp/B00GAC1D2G/ref=zg_bs_g_videogames_sccl_3/142-2352372-7951437?psc=1"
                                            role="link"><span>
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">$10 -PlayStation
                                                    Store Gift Card [Digital Code]</div>
                                            </span></a>
                                        <div class="a-row a-size-small"><span class="a-size-small a-color-base">
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">PlayStation</div>
                                            </span></div>
                                        <div class="a-row">
                                            <div class="a-icon-row"><a class="a-link-normal" title="4.7 out of 5 stars"
                                                    href="/product-reviews/B00GAC1D2G/ref=zg_bs_g_videogames_cr_sccl_3/142-2352372-7951437"><i
                                                        class="a-icon a-icon-star-small a-star-small-4-5 aok-align-top"><span
                                                            class="a-icon-alt">4.7 out of 5 stars</span></i> <span
                                                        class="a-size-small">107,118</span></a></div>
                                        </div>
                                        <div class="a-row a-size-small"><span class="a-size-small a-color-secondary">
                                                <div class="_cDEzb_p13n-sc-css-line-clamp-1_1Fn1y">PlayStation 4</div>
                                            </span></div>
                                        <div class="a-row">
                                            <div class="a-row">
                                                <div class="_cDEzb_p13n-sc-price-animation-wrapper_3PzN2"><a
                                                        class="a-link-normal a-text-normal"
                                                        href="/PlayStation-Store-Gift-Card-Digital/dp/B00GAC1D2G/ref=zg_bs_g_videogames_sccl_3/142-2352372-7951437?psc=1"
                                                        role="link">
                                                        <div class="a-row"><span class="a-size-base a-color-price"><span
                                                                    class="_cDEzb_p13n-sc-price_3mJ9Z">$10.00</span></span>
                                                        </div>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="watch-button-placeholder aok-hidden"></div>
                            </div>
                        </div>
                    </div>
                    <div id="videoResponsePlaceholder"></div>
                </div>
                <div id="endOfList"></div>
            </div>
            <div class="a-text-center" role="navigation">
                <ul class="a-pagination">
                    <li class="a-disabled">←<span class="a-letter-space"></span><span
                            class="a-letter-space"></span>Previous page</li>
                    <li class="a-selected"><a
                            href="/best-sellers-video-games/zgbs/videogames/ref=zg_bs_pg_1_videogames?_encoding=UTF8&amp;pg=1"
                            aria-current="page" class="">1</a></li>
                    <li class="a-normal"><a
                            href="/best-sellers-video-games/zgbs/videogames/ref=zg_bs_pg_2_videogames?_encoding=UTF8&amp;pg=2">2</a>
                    </li>
                    <li class="a-last"><a
                            href="/best-sellers-video-games/zgbs/videogames/ref=zg_bs_pg_2_videogames?_encoding=UTF8&amp;pg=2">Next
                            page<span class="a-letter-space"></span><span class="a-letter-space"></span>→</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>